body {
    background-image: url('mario 1.png');
    background-repeat: no-repeat;
    background-size: 40%; /* Agora a imagem está com metade do tamanho original */
    background-position: left bottom;
    background-color: #AD0110; /* Adiciona um fundo vermelho semi-transparente */
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 1450px; /* Adiciona espaço na parte superior para descer a imagem */
  }
  
  ::webkit-s
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0; /* Adicionando esta linha */
    background-color:#AD0110;
  }
  
  .moedas {
    position: absolute;
    top: 70px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  
  .overlay-text {
      text-align: left;
      padding: 10px; /* Reduzindo o padding para tornar o texto um pouco menor */
      position: absolute;
      top: 70px; /* Ajuste conforme necessário para evitar sobreposição com a navbar */
      left: 20px; /* Ajuste conforme necessário para posicionar à esquerda */
      color: #FFFFFF;
      font-size: 14px; /* Tornando o texto pequeno um pouco menor */
  }
  
  .overlay-text h3:nth-child(3) {
   font-size: 1.3em;
   margin-bottom: 10px;
   color: #FFFFFF;
   padding: 20px;
   margin: 0;
   position: absolute;
  }
  
  
  .overlay-text h3 {
   font-size: 1.3em;
   margin-bottom: 10px;
   color: #FFFFFF;
   padding: 20px;
   margin: 0;
  }
  
  .colored-title {
      font-size: 3.5em;
      text-transform: uppercase;
      padding: 20px;
      text-align: left;
  }
  
  .colored-title span {
      font-weight: bold;
      font-size: 1.4em;
      display: inline-block;
      transition: color 0.3s;
  }
  
  .colored-title span:hover {
      color: #FFD700;
  }
  
  
  
  .colored-title span:hover {
      color: #FFD700; /* Amarelo */
  }
  
  .red {
      color: #FF0000;
  }
  
  .green {
      color: #18A60C;
  }
  
  .blue {
      color: #3C8BFF;
  }
  
  .yellow {
      color: #DBD507;
  }
  
  
  .orange {
      color: #FFA500;
  }
  
    .logo {
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      font-size: 35px;
    }
  
    nav {
      display: flex;
      align-items: center;
    }
  
    nav a {
      color: #FFFFFF;
      text-decoration: none;
      margin: 0 10px;
      font-size: 1.2em;
    }
  
    .play-button {
      background-color: #DBD507;
      border: none;
      border-radius: 10px;
      padding: 10px 30px;
      font-size: 1.2em;
      color: #FFFFFF;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;
    }
  
    .play-button:hover {
      transform: scale(1.1) translateZ(0);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    .hamburger-menu {
      display: none;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-size: 24px;
    }
  
    .hamburger-menu div {
      width: 30px;
      height: 3px;
      background-color: #FFFFFF;
      margin: 3px 0;
      transition: background-color 0.3s;
    }
  
    .mario {
    width: 70%; /* Aumenta a largura em 50% */
    position: relative; /* Adiciona posicionamento relativo */
    top: -20px;
    padding: 35px; /* Move a imagem para cima. Ajuste conforme necessário. */
  }
  
  
    @media (max-width: 768px) {
      .hamburger-menu {
        display: flex;
      }
  
      nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
  
      nav.active {
        display: flex;
      }
  
      nav a {
        margin: 10px 0;
      }
  
      .hamburger-menu div {
        width: 25px;
      }
    }